* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.main_header {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 0 auto;
}